<div class="ui page grid">
  <div class="row">
    <div class="column">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h1 class="ui header">Editing Videos</h1>
      <div class="ui divider"></div>
      <%= render 'form' %>
    </div>
  </div>
</div>
