// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.cards > .card > .image, .ui.card > .image {
  height: 160px;
  overflow: hidden;
  img {
    width: 290px;
    height: auto;
  }
}

.ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui) {
  height: 80px;
  overflow: hidden;
}